{% extends "base_generic.html" %}

{% block content %}
  <h1>Nombre: {{ author.first_name }} {{ author.last_name}}</h1>

  <p><strong>Nacimiento:</strong>{{ author.date_of_birth }}</p> 
  <p><strong>Muerte:</strong> {{ author.date_of_death }}</p>
  
  
  <div style="margin-left:20px;margin-top:20px">
    <h4>Libros:</h4>
    <ul>
      {% for book in author.book_set.all %}
        <li>
          <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        </li>
      {% empty %}
        <li>Este autor no tiene libros registrados.</li>
      {% endfor %}
    </ul>
  </div>

  
{% endblock %}